[Unit]
Requires=bluetooth.service
After=bluetooth.service


[Service]
ExecStartPre=/bin/sleep 5
ExecStart=/usr/local/bin/btscript.sh
Restart=always

[Install]
WantedBy=default.target
